<!-- import { Icon } from 'astro-icon/components'; -->

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      {/*
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" />
      */}
    </span>
    Pendant les vacances scolaires d’avril (14-16 et 21-23), des séances de grappling no-gi auront lieu au dojo de l’Ergué-Armel, tandis qu’aucun cours de JJB ne sera assuré à la MPT de Penhars, celle-ci étant fermée durant cette période.
  </div>
</section>
